<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Sortida Matinal a Les Mines d'Osor i a l'Embassament de Susqueda.&nbsp;</h1>
<h2 class="ui header teal">Dissabte 29 de Setembre de 2018</h2>
<BR/>

<h3 class="ui header teal">Ruta (250kms):</h3> 
<p>BCN – Montgat - Mataró - Arenys - St.Celoni - Santa Fe - Sant Hilari Sacalm - Osor - Anglès - Embassament Susqueda - Osor - Viladrau - Seva – Montseny - Palautordera - Dosrius - Montgat - BCN
</p>

<h3 class="ui header teal">Punts de trobada:</h3> 
<p>07:30 Montgat (Plaça del'Ajuntament)
<BR/>08:00 Mataró (CEPSA NII-Camí Reial)
<BR/>09:00 St.Celoni (Plaça Comte del Montseny)
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>09:00 St.Celoni
<BR/>10:00 Sant Hilari Sacalm
<BR/>10:30 Anglès (Esmorzar)
<BR/>11:30 Embassament Susqueda
<BR/>12:45 Seva
<BR/>14:00 Montgat
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'guasap/whatapp' o correu) abans de dissabte.
</p> 

<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>

<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("rutes/20180929_Susqueda.jpg", :alt => "Sortida Matinal a Osor-Susqueda 29/09/2018", :class => "mbr-figure__img") %></div>
</figure>


<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
