<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>
                <h1 class="mbr-header__text">Adhesió per la Diada a la 'IX Manifestació Independentista en Moto' organitzada pels 'Motards Independentistes'. &nbsp;</h1>
                <p class="mbr-header__subtext">11 de Setembre del 2018</p>

<h3>08:00h Concentració a la plaça de Vic</h3>


<h3>Punts de trobada:</h3> 
<p> Com cada any <b>Motards Independentistes</b> organitzan Columnes per anar fins a la Plaça Major de <BR/>Vic des de diferents punts de Catalunya. 
<BR/>Són aquestes:
<BR/>
<BR/>Barcelona
<BR/>Lloc Plaça dels voluntaris
<BR/>Hora 6:45 am (Sortida 7:00 am)
<BR/>Responsable Paco Majó
<BR/>https://goo.gl/maps/9ofqzrWpLPq
<BR/>
<BR/>Girona
<BR/>Lloc Aparcament Decathlon, Girona
<BR/>Hora 6:45 am (Sortida 7:00 am)
<BR/>Responsable Lluís Poch
<BR/>https://goo.gl/maps/Mw7Zv3we5682
<BR/>
<BR/>Vallès Occidental i Vallès Oriental
<BR/>Lloc UAB de Bellaterra (Les quatre columnes)
<BR/>Hora 6:45 am (Sortida 7:00 am)
<BR/>Responsable Raül Castillo
<BR/>https://goo.gl/maps/82tXcPA1U2p
<BR/>
<BR/>Maresme
<BR/>Lloc Benzinera GALP del Rengle, Mataró
<BR/>Hora 6:45 am ( Sortida 7:00 am)
<BR/>Responsable Esteve Thos
<BR/>https://goo.gl/maps/82tXcPA1U2p
<BR/>
<BR/>Anoia i Bages
<BR/>Lloc Petrocat Manresa
<BR/>Hora 7:00 am (Sortida 7:15 am)
<BR/>Responsable Gregori Navarro
<BR/>https://goo.gl/maps/8xyEnzZ6zxC2
</p>




<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>
