<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta al Puigsacalm-Montseny</h1>
<h2 class="ui header teal">Dimecres 4 Juliol 2018</h2>
<BR/>

<h4><i>4/07/2018 Volta al Puigsacalm-Montseny, 330kms.</i></h4>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN - Cerdanyola - UAB - Sabadell - Castellar V. - Calders - Moià - Olost - Vidrà - Les Preses - St.Esteve d'en Bas - Anglès - St.Hilari de Sacalm - Montseny - St. Celoni - 
Arenys - Badalona - BCN
</p>
<p>Travessant verticalment el massís de Sant Llorenç del Munt i el Moianès arribarem al Lluçanès a on pararem a fer un esmorzar-dinar. Girarem per a pujar a Vidrà a on per camins asfaltats i preciosos paisatges, sortirem a la Garrotxa que la baixarem ràpidament per entrar a les Guilleries a Anglès (fer la ctra. dels 13 anglès d'Osor) i anar a Sant Hilari de Sacalm i Arbúcies a on pararem abans de fer el Montseny i tornar a BCN per la costa.
</p>
<h3 class="ui header teal">Punts de trobada i horari:</h3>
<BR/>8:20 Horta (Ctra. Horta-Cerdanyola 50)
<BR/>9:00 Castellar Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
<BR/>
<h3 class="ui header teal">Parades previstes i temps aprox.: </h3>
<BR/>11:30 Esmorzar al Collet (St.Agustí lluçanès)
<BR/>15:00 Parada a la plaça d'Amer
<BR/>16:30 Parada al Coll del Ravell (Arbúcies)
<BR/>18:00 Arribada a BCN 
<BR/>
<h3 class="ui header teal">Observacions:</h3> 
<p>No hi han pistes de terra. Hi ha un tram de camí asfaltat Vidrà-Les Presses.</p>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
                    <div><%= image_tag("dimecres 4Jl Puigsacalm Montseny.jpg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
                </figure>
<h3 class="ui header teal">Crònica:</h3>
<p>Ahir 4 motos vàrem fer 330kms creuant el Parc Natural de Sant Llorenç del Munt, el Moianès-Lluçanès, vàrem passar a la Garrotxa per la 'difilcultosa carretereta' de Vidrà a Les Preses. 
<br/>D'aquí vàrem girar directes deixant a la dreta a Les Guilleries i passant per sota els pantans, per la carretera de les mines d'Osor 'Els temibles 13 angles'.  
<br/>Desprès de fer-la conduits per un ràpid Roger, vàrem para a dinar entaulats un menú a Hilari de Sacalm ***.  
<br/>Per acabar vàrem fer el Montseny per Santa Fe i per Dosrius agafar la NII de la costa.
</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("WhatsApp Image 2018-07-04 at 11.34.41.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
</figure>
<p>Esmortzant 'una taula' a l'hostal del Collet de Sant Agustí del Lluçanès ****. Josep XDAV, Roger FVR, James MT07 A2 i Ferran GSR600.</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<!--<div><%#= video_tag(["Video 2018-07-14 Montral.mp4"], :size => "", :controls => true) %></div>-->
<iframe width="560" height="415" src="https://www.youtube.com/embed/C92U1fkPtXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</figure>
<p>En Roger HONDA VFR 'treballant' des de Sant Llorenç de Savall fins a Monistrol de Calders.</p>
<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>