<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Sortida Matinal a Alpens.</h1>
<h2 class="ui header teal">Dimecres 18 Juliol 2018</h2>
<BR/>

<h4><i>18/07/2018 "Sortida Matinal a Alpens" 285kms</i></h4>


<h3 class="ui header teal">Ruta:</h3> 
<p>BCN - Cerdanyola - UAB - Sabadell - Castellar V. - St.Llorenç Savall - Gallifa - Castellterçol - Moià - L'Estany - Oristà - Torre Oristà - Prats del Llucanès - Artès - Calders - Matadepera - Rubí - Vallvidrera - BCN
<BR/>
<h3 class="ui header teal">Punts de trobada i horari:</h3>
<BR/>8:20 Horta (Ctra. Horta-Cerdanyola 50)
<BR/>9:00 Castellar Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
<BR/>11:30 Esmorzar i Benzina a Prats del Lluçanès
<BR/>14:00 Arribada a BCN
<BR/>
<h3 class="ui header teal">Observacions:</h3>
<p>No hi han pistes ni camins asfaltats.</p>
<br/>
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("Matinal - 2018-07-18.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
                </figure>
<h3 class="ui header teal">Crònica:</h3>
<br/>Ahir 3 motos, @Toni BMW1200, @Josep XADV i @Ferran GSR600, vàrem fer 285kms creuant el Parc Natural De Sant Llorenç del Munt dos cops per pujar (Sant Llorenç de Savall) i baixar (Mura-Talamanca). 
<br/>Esmorzar bo a la Fonda d'Alpens ***. 
<br/>A la tornada parada a Castellterçol per prendre alguna cosa i xerrar una estona.


<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>
