<div class='ui form'>
<div><BR/><BR/><BR/></div>    
<h4 class='ui header blue' style='margin:50px 50px 50px 50px;'><i>Per registra-vos si-us-plau envieu un 'WhtasApp' al mòbil de contacte: 622 25 44 58, dient el vostre nom, la moto que porteu i d'on sou, i a quina/nes sortida/es voleu venir <%= link_to "(Sortides)", "http://milrevolts.life/sortides" %>.
<BR/><BR/>
Llavor us contactarem ràpidament, afegint-vos al nostre grup motorista, al grup de la sortida i registrant-vos al nostre lloc web MilRevolts.life
<BR/><BR/>
Moltes gràcies!
<BR/>Grup motorista 'Mil Revolts'
</i> 
</h4>
</div>