

<div class="ui basic segment center aligned">
      <div class='ui center aligned column'><%= image_tag("milrevoltslife_250h.png", :alt => "Mil Revolts", :class => "ui centered bordered image") %></div>
     <div><BR/></div> 
</div>

<div class="ui relaxed equal width grid">
  <div class="ui row">
    <div class="ui three wide column"></div>
      <div class="ui ten wide column segment"> 
      <h2 class="ui center aligned dividing header teal">
        <i class="pencil alternate icon"></i>CONTACTE: envia'ns un missatge.</h2>

<%= render 'form', contacte: @contacte %>
					</div>

				</div>
			</div>
			<div><BR/><BR/></div>
    </div>
     <div class="three wide column"></div>
  </div>
</div>
