<!-- Footer area -->
    <div class="container footer" style="background-color: teal;">
        <div class="ui container">
            <div class="ui three column stackable doubling grid">
                <div class="column">
                    <div class="ui header">SEGUEIX-NOS</div>
                        <div class="ui inline row">
                            <a class="ui centered aligned label" title="Twitter MilRevolts hastag" target="_blank" href="https://twitter.com/search?f=tweets&vertical=default&q=milrevolts"><i class="ui twitter big red icon"></i></a>           
                            <a class="ui label" title="Facebook MilRevolts page" target="_blank" href="https://www.facebook.com/pages/milrevolts"><i class="ui facebook big red icon"></i></a>
                            <a class="ui label" title="Telegram MilRevolts Channel" target="_blank" href="https://t.me/milrevolts"><i class="ui telegram plane big red icon"></i></a>  
                        </div>
                </div>
                <div class="column">
                    <div class="ui header">MENÚ</div>
                    <div class="ui inverted vertical menu" style='background-color:teal;font-weight:600;'>
                        <a href="/sortides" class="item"><b>Sortides</b></a>
                        <a href="/media" class="item"><b>Media</b></a>
                        <a href="/ofertes" class="item"><b>Ofertes</b></a>
                        <a href="/blog" class="item"><b>BLOG</b></a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui header">AJUDA</div>
                    <div class="ui inverted vertical menu" style='background-color:teal;'>
                    	  <a href="/faq" class="item"><b>FAQ</b></a>
                        <a href="/termes" class="item"><b>Termes d'ús</b></a>
                        <a href="/privacitat" class="item"><b>Política de la Privacitat</b></a>
                        <a href="/cookies" class="item"><b>Política de Cookies</b></a>
                        <a href="/contacte" class="item"><b>Contacte</b></a>
                    </div>
                </div>
            </div>
            
<footer class="ui row footer">
    <div class="ui container">
        <div class="ui row">
            <div class="ui column">
              <BR/><BR/>  
              <p style='color:var(--teal05);'><strong>ADREÇA:</strong>&nbsp; &nbsp; El Poble Sec, 08004 Barcelona CATALONIA.
&nbsp; &nbsp;&nbsp; &nbsp; <strong>CONTACTE:</strong>&nbsp; &nbsp; Email: Ferran . Cabrer @ 110 . cat - Telf.: 622 25 44 54&nbsp; &nbsp;&nbsp; &nbsp;Copyright (c) 2018 Grup motorista 'Mil Revolts' .</p>
            </div>
        </div>
    </div>
</footer>


        </div>
    </div>

<script src="assets/javascripts/owl.carousel.js"></script>