<div class='ui container' style='height:60%;'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column" style="margin-bottom:50px;">
<div><BR/><BR/></div>


<div style='background-color:var(--teal02);margin-top:30px; box-shadow: 4px 4px var(--teal04);'>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui huge header" style='color:white; font-weight:800;text-shadow: 2px 2px 4px var(--teal10); '>CONTACTE</h1>
    <h3 class="ui header teal"><i>Envia'ns un missatge</i></h3>
                        <form action="mailto:ferran.cabrer@110.cat" method="post" data-form-title="CONTACT FORM"  enctype="text/plain">
                            <input type="hidden" value="" data-form-email="true">
                            <div class="field">
                                <input type="text" class="form-control" name="name" required="" placeholder="Nom*" data-form-field="Name">
                            </div>
                            <div class="field">
                                <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                            </div>
                            <div class="field">
                                <input type="tel" class="form-control" name="phone" placeholder="Telèfon mòbil" data-form-field="Phone">
                            </div>
                            <div class="field">
                                <textarea class="form-control" name="message" placeholder="Missatge" rows="7" data-form-field="Message"></textarea>
                            </div>
                            <BR/>
                            <div style='margin-top: 15;'><button type="submit" value="Send" class="ui teal button">ENVIA</button></div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
     <div class="two wide column"></div>
  </div>
</div>
















