
<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Preguntes freqüents (FAQ)</h1>
<BR/>
<h4><i>Depenent de les preguntes rebudes construirem aquest secció.</i></h4>

<h3 class="ui header red">EN CONSTRUCCIÓ</h3> 
<p style='text-align:justify;'>Aquesta secció és encara en construcció. Perdoneu!</p>
<h3 class="ui header teal">Com m'apunto a una sortida?</h3> 
<p style='text-align:justify;'>Per 'guasap' o per correu electrònic, el més aviat possible, al contacte que apareix al peu d'aquesta pàgina.</p>
<h3 class="ui header teal">Si sóc d'afora de Barcelona, puc apuntar-me?</h3> 
<p style='text-align:justify;'>Sí sempre que puguis estar a l'hora en un punt de trobada, o bé en un altre localitat si passem per allà. En ambdòs casos comunicant-nos-lo amb anticipació per tal d'organitzar-nos, concretar els detalls i notificar-vos canvis i incidències d'última hora.</p>
<h3 class="ui header teal">Quines advantages tincs al registrar-me a la web?</h3> 
<p style='text-align:justify;'>De moment, veure més contingut, fer comentaris i publicar fotografies.</p>

<h3 class="ui header teal">../..</h3> 
<p style='text-align:justify;'>../..</p>
<h3 class="ui header red">EN CONSTRUCCIÓ</h3> 
<p style='text-align:justify;'>Aquesta secció és encara en construcció. Perdoneu!</p>
<div><BR/><BR/></div>
    </div>
     <div class="two wide column"></div>
  </div>
</div>






