<section class="content-2 col-4" id="features1-75">
    
    <div class="container">
        <div class="row" style='padding:0 20px 0 25px;'>
            <div>
                <div class="thumbnail">
                    <div class="image"><%= image_tag("sortides.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "undefined") %></div>
                    <div class="caption" style='padding:10px;'>
                        <div>
                            <h2 class='ui header teal'>SORTIDES</h2>
                            <p>Imatges i vídeos de les sortides. Algunes inclouen el complet reportatge fotogràfic.&nbsp;</p>
                        </div>
                        <p class="group"><a href="media_sortides" class="btn btn-default">Ves-hi i mira-ho!</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><%= image_tag("motoristes.png", :alt => "Motoristes del Grup Mil Revolts", :class => "undefined") %></div>
                    <div class="caption">
                        <div>
                            <h2 class='ui header teal'>MOTORISTES</h2>
                            <p>Imatges i vídeos dels motoristes del nostre grup, en 'plena acció'' o en les parades. </p>
                        </div>
                        <p class="group"><a href="media_motoristes" class="btn btn-default">Ves-hi i mira-ho!</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><%= image_tag("motos.jpg", :alt => "Motos del Grup Mil Revolts", :class => "undefined") %></div>
                    <div class="caption">
                        <div>
                            <h2 class='ui header teal'>MOTOS</h2>
                            <p>Imatges i vídeos de les motos, que en definitiva són les que ens porten a cada sortida. </p>
                        </div>
                        <p class="group"><a href="media_motos" class="btn btn-default">Ves-hi i mira-ho!</a></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><%= image_tag("altres.jpg", :alt => "Altres 'media' de les Sortides del Grup Mil Revolts", :class => "undefined") %></div>
                    <div class="caption">
                      <div>
                        <h2 class='ui header teal'>ALTRES</h2>
                        <p>Imatges i vídeos de paisatges, rutes, motoristes i altres que són de difícil catalogació.</p>
                        </div>
                        <p class="group"><a href="media_altres" class="btn btn-default">Ves-hi i mira-ho!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




