<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Privacitat</h1>
<BR/>
<h4><i>La política de privacitat del web</i></i></h4>

<p style='text-align:justify;'>La política de privacitat del <i>Grup motorista 'Mil Revolts'</i> (d’ara endavant, la política de privacitat) compleix tots els requisits establerts en les disposicions aplicables en matèria de protecció de dades de caràcter personal, que en l’actualitat es troben recollides en la Llei orgànica 15/1999, de protecció de dades de caràcter personal (d’ara endavant, “LOPD”), i en el reglament que la desenvolupa, Reial decret 1720/2007 i en compliment del que estableix el Reglament (UE) 2016/679 DEL PARLAMENT EUROPEU I DEL CONSELL de 27 d’abril de 2016 relatiu a la protecció de les persones físiques pel que fa al tractament de dades personals i a la lliure circulació d’aquestes dades.</p>
 
<p style='text-align:justify;'>L’acceptació dels termes i les condicions inclou l’acceptació de la política de privacitat, la qual en forma part i inclou la informació sobre la política de cookies​ i la informació relativa a les aplicacions de tercers instal·lades a la web.</p>

<p style='text-align:justify;'>Si té qualsevol dubte en relació amb la privacitat, li preguem que ens enviï un correu electrònic detallant-hi la seva consulta i nosaltres mirarem de resoldre-la.</p>

<p style='text-align:justify;'><i>Grup motorista 'Mil Revolts'</i> podrà modificar i actualitzar aquesta Política de privadesa en qualsevol moment sense avís previ. Si us plau comprovi sempre que està al corrent de la nostra Política de privadesa, de la Política de cookies i dels termes i les condicions d’ús per estar informat en tot moment del contingut que es recull a través de la web, com la utilitzem i les circumstàncies sota les quals podrien revelar-se a tercers. L’usuari queda obligat automàticament per les condicions d’ús que es trobin vigents en el moment en què accedeixi a la web, de manera que ha de llegir periòdicament el present document.</p>
<div><BR/><BR/></div>
    </div>
     <div class="two wide column"></div>
  </div>
</div>
