<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>
<h1 class="ui huge header teal" style='font-size:30pt;'>Sortides</h1>
<div><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
             <a href=''>
                <h3>Juny-Juliol del 2019.&nbsp;</h3>
             </a>
                <h2 class="mbr-header__subtext">Cap de setmana als Pirineus francesos, dormint a Puigcerdà, 400+400kms.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
             <a href='20181215_Sud'>
                <h3>Ds-15 i Dg-16 de Desembre del 2018.&nbsp;</h3>
             </a>
                <h2 class="mbr-header__subtext">Cap de setmana als Parcs Naturals del Sud, dormint a Morella, 400+400kms.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Dimecres 12 de Desembre del 2018.&nbsp;</h3>
                <h2 class="mbr-header__subtext">Sortida a organitzar.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Dimecres 5 de Desembre del 2018.&nbsp;</h3>
                <h2 class="mbr-header__subtext">Sortida a organitzar.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Dimecres 28 de Novembre del 2018.&nbsp;</h3>
                <h2 class="mbr-header__subtext">Sortida a organitzar.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Dimecres 21 de Novembre del 2018.&nbsp;</h3>
                <h2 class="mbr-header__subtext">Volta a les Guilleries. Pantans de Sau i Susqueda.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
             <a href='20181117_Garrotxa'>
                <h3>Dissabte 17 de Novembre del 2018.&nbsp;</h3>
             </a>
                <h2 class="mbr-header__subtext">Volta al Montseny, Garrotxa i Puigsacalm</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
          <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='20181114_Montgrony'>
                <h3>Dimecres 14 de Novembre del 2018.&nbsp;</h3>
                <h2 class="mbr-header__subtext">Sortida al Santuari de Montgrony.</h2>
              </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
             <a href='20181107_VoltaGaia'>
                <h3>Dimecres 7 de Novembre del 2018.&nbsp;</h3>
             </a>
                <h2 class="mbr-header__subtext">Volta al Gaià.</h2>
            </div>
        </div>
        <div><BR/><BR/></div>
      

        <BR/><BR/>
        <div class='ui divider teal'></div>
        <BR/><BR/>


        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='20181020_NHug'>
              <h3>20/11/2018.Sortida al Coll de la Creueta. Castellar de N'Hug.&nbsp;</h3>
              </a>
            </div>
        </div>
         <div><BR/><BR/></div>
		<div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href='20181017_Guimera'>
                    <h3>17/10/2018. Volta a Guimerà.&nbsp;</h3>
                </a>    
            </div>
        </div>
 				<div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href='Sud06102018'>
                <h3>6-7/10/2018. Volta als parcs naturals del Sud&nbsp;</h3>
                </a>
            </div>
        </div>
				<div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
          <div class="col-sm-8 col-sm-offset-2">
             <a href='20181003_Montseny'>
               <h3>03/10/2018. Sortida matinal 'Volta al Massís del Montseny'.&nbsp;</h3>
             </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='20180926_MatinalTalamanca'>
                <h3>29/09/2018. Sortida matinal a Susqueda.&nbsp;</h3>
              </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='20180926_MatinalTalamanca'>
                <h3>26/09/2018. Sortida matinal a Talamanca.&nbsp;</h3>
              </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href='20180922_Prepirineu'>
                <h3>22/09/2018. Sortida al Prepirineu</h3>
                </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href='20180918_Castelltallat'>
                <h3>19/09/2018.&nbsp;Sortida a la Serra de Castelltallat</h3>
                </a>
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href="Diada11092018"> 
                <h3>11/09/2018. Adhesió per la Diada a la 'IX Manifestació Independentista en Moto' &nbsp;</h3>
                </a>    
            </div>
        </div>
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <a href='Ogassa08092018'>
                <h3>08/09/2018. Sortida a Ogassa (Serra Cavallera).</h3>
                </a>
            </div>
        </div>        
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='Pedraforca01082018'>
                <h3>01/08/2018 &nbsp;Sortida al Pedraforca.</h3>
              </a>
            </div>
        </div> 
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='PirineusCatalans28072018'>
                <h3>28/07/2018. Sortida als Pirineus Catalans.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='SantesCreusQuerol25072018'>
                <h3>25/07/2018. Sortida a Santes Creus – Querol.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='SortidaMatinalAlpensl8072018'>
                <h3>18/07/2018. Sortida Matinal a Alpens.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='VoltaPradesMontsant14072018'>
                <h3>17/07/2018. Volta a les Muntanyes de Prades i Montsant.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='PuigsacalmMontseny4072018'>
                <h3>04/07/2018. Sortida al Puigsacalm-Montseny.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='Llucanes20062018'>
                <h3>20/06/2018. Volta al Lluçanès. Riera de Merlès.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/></div>
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href='MontsenyGuilleries30052018'>
                <h3>30/05/2018. Volta al Montseny i a les Guilleries.&nbsp;</h3>
              </a>
            </div>
        </div>  
        <div><BR/><BR/><BR/><BR/></div>


</div>
<div class="two wide column"></div>
</div>
</div>