<section class="ui container">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">
<div><BR/><BR/></div>
<div class="ten wide column">
              <a href='EnquestaTardor2018'>
                <h1 class='ui header teal'>Enquesta de Preferències Tardor 2018</h1><BR/><BR/>
              </a>
            </div>
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p>Aquesta segona enquesta per rebre la vostra opinió sobre dates, duració, zones, calendari, destinacions, parades, etc., el passat 9 d'Octubre vàrem realitzar 'on-line' a 'ZOHO.com' a on 31 dels 33 que som ara van respondre´en la setmana que ha estat publicada. El questionari era molt breu i anònim, amb quatre pàgines de preguntes: Sortides; Comunicació, Disseny i Organització.&nbsp;</p>
            <p>Aquesta enquesta ja s'ha tancat, però ben aviat se n'obriran d'altres per tal de continuar rebent la vostra opinió i planejar i organitzar millor les nostres properes sortides, la comunicació i organització del grup i el disseny del logotip, de la web, d'una semarreta, etc.</p> 
            <h3 class='ui header teal'>Resultats i conclusions</h3>
            <div><BR/></div>  
              <blockquote><em><b>1) Sortides:</b>
             <div><BR/></div> 
                <ul><li><B>CARRETERA</B>
                <BR/> - La majoria (86%) prefereix carreteres lentes i revirades. 
                <BR/> - Quasi un de cada sis vol fer també camins de terra.</li>
                <li><B>HORA</B> 
                <BR/> - Entre les 8 i les 9h es perfecte (65%)
                <BR/> - Entre les 7-8 si està justificat (58%) 
                <li><B>DIA</B>
                <BR/> - La majoria (65%) prefereix sortir els dissabtes.
                <BR/> - Les sortides de cap de setmana Ds-Dg són també molt desitgades (43%).
                <BR/> - A un terç (32%) l'hi agrada sortir en dimecres.</li> 
                <li><B>PARADES</B>
                <BR/> - Les sortides es prefereixen que siguin 'Llargues i dures, amb trams llargs i poques parades' o bé també 'Amb parades curtes i ens portem l'entrepà' o bé 'Amb parades llargues i ens entaulem' i menys les 'Curtes i relaxades amb trams curts i moltes parades'.
                <li><B>RITME</B> 
                <BR/>Les preferències són: 
                <BR/> - Turístic (21%), 
                <BR/> - Més turístic que esportiu (43%)
                <BR/> - Més esportiu que turístic (50%)
                <BR/> - Esportiu (7%).</li>
                <li><B>PARTICIPACIÓ</B> 
                <BR/> - La majoria (87%) creu que per millorar les sortides no cal limitar la participació si no adaptar la ruta al número i tipus de motoristes.</li>
                <li><B>DESTINACIÓ/DURADA</B> 
                <BR/>Ens apuntaríem a:  
                    </BR> - Un dia al Pedraforca (61%)
                    <BR/> - Dos dies al pirineus francesos (57%) 
                    </BR> - Un dia al Moianès-Lluçanès-Berguedà (52%)</li>
                </ul> 
            &nbsp;</em></blockquote>
            <blockquote><em><b>2) Communicació:</b>
             <div><BR/></div> 
                <ul><li><B>'Grups de WhatApp'</B>
									<BR/> - Un el 'General' (25%)
									<BR/> - Dos, a més el de 'Qui vol sortir?' (33%)
									<BR/> - Tres, i a més un d'una sortida que vaig fer (25%)
									<BR/> - Més de tres, i varis de diferents sortides i amb diferents companys (17%)</li>
									<li><B>'Que afegiries a la nostre comunicació</B>
									<BR/> - Més un altre grup per comentaris (35%) <i>N.R.: Ja està fet. Grup: Qui vol sortir?</i>
									<BR/> - Més un altre grup 'oficial i anònim' de Telegram per a l'organització del grup i de les sortides (12%) <i>N.R.: Ja està fet. Canal Telegram: 'Mil Revolts' ara amb 12 subscriptors.</i>
									<BR/> - Més un tauler i un blog de comentaris a la web (23%)
									<BR/> - Més la tradicional llista de distribució per correu electrònic (6%)
									<BR/> - Més una missatgeria per correu electrònic i/o web entre membres (12%)
									<BR/> - Més la publicació i subscripció d'una 'Newsletter' Revista mensual/trimestral enviada per correu electrònic (23%)</li>
									<li><B>'Faries ara un grup de 'WhatsApp' per a comentaris?</B>
									<BR/> - Sí (31%) 
									<BR/> - No (46%) 
									<BR/> - -- (23%)
									<BR/>N.R.: Aquest grup ja està fet. 'Mil Revolts Qui vol sortir?' té 21 usuaris dels 32 que som al gup principal. S'utilitza principament per fer comentaris i convidar a sortides espontànias d'un dia per l'altre.</i></li>
                </ul> 
            &nbsp;</em></blockquote>
            <blockquote><em><b>3) Disseny:</b>
             <div><BR/></div> 
                <ul><li><B>El lloc web MilRevolts.life</B>
                	<BR/> - A la immensaa majoria (92%) els hi agrada bastant o molts.</li>
                	<li><B>El logo actual del grup</B>
                	<BR/> - A la majoria (87%) els hi agrada bastant o molts, però canviarien alguna cosa.</li>
                	<li><B>Que hem de fer més ara?</B>
                	<BR/> - Una samarreta (54%)
                	<BR/> - Un adhesiu (32%)
                	<BR/> - Es proposa també un 'buff' tapaboques, una semarreta tècnica tipo Phenix i una dessuadora.</li>
               </ul> 
            &nbsp;</em></blockquote>
            <blockquote><em><b>4) Organització:</b>
             <div><BR/></div> 
                <ul><li><B>Pagaria al grup</B>
                	<BR/> - La meitat de nosaltres pagaria una quota simbòlica per a tenir més advantatges i prestacions que els que no són membres del grup.</li>
									<li><B>Etic disposat a col·laborar com a...</B>
                	<BR/> - La majoria com controlador durant la sortida (60%) i alguns (20%) com a organitzadors i pocs com a organs de la direcció (President, Secretari, Tresorer i Vocal) si fos el cas.
                	<BR/>N.R.: Hi ha que delegar l'organització de - o co-organitzar - les sortides a altres membres del grup.</i></li>
                	</ul>	
            &nbsp;</em></blockquote>
        </div>
      </div>
    </div>
<div><BR/><BR/></div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%#= image_tag("enquesta2018.jpg", :alt => "Enquesta preferències estiu 2018", :class => "mbr-figure__img", style:'width:640;height:auto;') %></div>
                    <!--<figcaption class="mbr-figure__caption">
                        <small class="mbr-figure__caption-small"> </small>
                    </figcaption>-->
                </figure>

<div><BR/><BR/></div>

            <div class="ten wide column">
              <a href='EnquestaEstiu2018'>
                <h1>Enquesta de Preferències Estiu 2018</h1><BR/><BR/>
              </a>
            </div>
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
            <p>Per tal de recollir per primer cop la vostra opinió sobre dates, duració, zones, calendari, destinacions, parades, etc., el passat dilluns 22 de Juliol vàrem realitzar 'on-line' a 'surveymonkey.com' <B>l'enquesta de Preferències Estiu 2018.</B> El questionari era molt breu i anònim, de 10 preguntes amb una única resposta seleccionable. El seu objectiu era orientar-nos per a millorar l'organització de les properes sortides de la tardor.&nbsp;</p>
            <p>Aquesta enquesta ja s'ha tancat, però ben aviat se n'obriran d'altres per tal de continuar rebent la vostra opinió i planejar i organitzar millor les nostres properes sortides.</p> 
              <blockquote><em>Amb un total de 12 respostes podem concloure, que: 
                <ul><li><B>CARRETERA</B>
                <BR/> - La majoria (75%) prefereix carreteres lentes i revirades. 
                <BR/> - L'altre 25% les amples, ràpides i ben asfaltades i senyalitzades.</li>
                <li><B>HORA</B> 
                <BR/> - La meitat de nosaltres diu que l'hora de sortida li és indiferent, depenent del tipus de sortida, del dia, si és hivern o estiu, etc. 
                <BR/> - L'altra meitat, creu que ha de ser millor entre les 7 i les 9 del matí.</li>
                <li><B>DIA</B>
                <BR/>- Quasi la meitat de nosaltres (42%) prefereix sortir els dissabtes.
                <BR/> - A un terç els és indiferent el dia. 
                <BR/> - Si es fan d'un dia entre setmana s'opina que aquestes sortides siguin entre 200 i 400 kms.</li>
                <li><B>PARADES</B>
                <BR/> - A la meitat de nosaltres els és indiferent, depenent de la sortida, de la ruta, del dia, si és hivern o estiu, etc. 
                <BR/> - A un terç que hi hagi una parada principal per 'entaular-nos' per esmorzar o dinar i aprofitar així per a xerrar una bona estona trànquil·lament.
                <BR/> - Hi han uns pocs que volen que siguin sortides amb 1 o 2 parades ràpides de 15-30 minuts just per a fer benzina i/o un entrepà, o bé amb moltes parades curtes.</li>
                <li><B>RITME</B> 
                <BR/>Les preferències són: 
                <BR/> - Turístic (17%), 
                <BR/> - Més turístic que esportiu (25%)
                <BR/> - Més esportiu que turístic (58%)
                <BR/>Ningú prefereix el ritme esportiu. És a dir que una àmplia majoria (80%) vol anar a un ritme entre turístic i esportiu.</li>
                <li><B>DURADA</B> 
                <BR/> - Quasi la meitat de nosaltres volem que les sortides siguin en 'un' dissabte. 
                <BR/> - A la resta (44%) els és indiferent que siguin d'un o de dos dies.</li>
                <li><B>DESTINACIÓ/DURADA</B> 
                <BR/>Ens apuntaríem a:  
                    </BR> - Un dia al Pedraforca 40% 
                    </BR> - A Morella dormint a Horta de Sant Joan 20%
                    </BR> - Als Pirineus francesos dormint a Llívia 20%
                    </BR> - A la Vall d'Aran dormint al Pedraforca 10%
                    </BR> - Un dia a Morella 10%
                    </li>
                  <li><B>VALORACIONS</B> 
                  <BR/> En quant a l'organització de les sortides que ja hem fet, tothom creu que:
                  <BR/> - En general han estat 'Molt Bé'. 
                  <BR/> - El ritme ha estat 'Molt bé'. 
                  <BR/> - Els horaris són 'Bons o Molt Bons'. 
                  <BR/> - Només un 11% pensa que les parades són 'bones o molt bones'. Hem de millorar en aquest punt!</li>
                </ul> 
            &nbsp;</em></blockquote>
           
        </div>
      </div>
    </div>
<div><BR/><BR/></div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("enquesta2018.jpg", :alt => "Enquesta preferències estiu 2018", :class => "mbr-figure__img", style:'width:640;height:auto;') %></div>
                    <!--<figcaption class="mbr-figure__caption">
                        <small class="mbr-figure__caption-small"> </small>
                    </figcaption>-->
                </figure>
            </div>
        </div>

</section>



