<div class="ui grid">
    <div class='ui row'>
    <div class="three wide column"></div>
    <div class="ten wide column segment">
    <%= image_tag("milrevoltslife_250h.png", :alt => "Mil Revolts", :class => "ui centered bordered image") %>
<div><BR/><BR/></div>
    <h1 class="ui huge header">CONTACTE</h1>
    <h3 class="ui header teal"><i>Envia'ns un missatge</i></h3>
                        <form action="mailto:ferran.cabrer@110.cat" method="post" data-form-title="CONTACT FORM"  enctype="text/plain">
                            <input type="hidden" value="" data-form-email="true">
                            <div class="field">
                                <input type="text" class="form-control" name="name" required="" placeholder="Nom*" data-form-field="Name">
                            </div>
                            <div class="field">
                                <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                            </div>
                            <div class="field">
                                <input type="tel" class="form-control" name="phone" placeholder="Telèfon mòbil" data-form-field="Phone">
                            </div>
                            <div class="field">
                                <textarea class="form-control" name="message" placeholder="Missatge" rows="7" data-form-field="Message"></textarea>
                            </div>
                            <BR/>
                            <div style='margin-top: 15;'><button type="submit" value="Send" class="ui teal button">ENVIA</button></div>
                        </form>
    </div><!-- ./twelve -->
     <div class="three wide column"></div>
  </div>
</div>
















