<div class="ui hidden divider"><BR/></div>  
<div class="ui stackable four column grid">  
  <div class="four wide column">
      <div class="thumbnail" style='padding:10px; text-align:center;'>
          <div class="image"><%= image_tag("sortides.jpg", :alt => "Mil Revolts. Sortides en moto", :class => "undefined") %></div>
          <div class="caption">
              <div class="ui hidden divider"></div>
                  <h2 class='ui header teal'>SORTIDES</h2>
                  <p>Imatges i vídeos de les sortides. Algunes inclouen el complet reportatge fotogràfic.&nbsp;</p>
              </div>
              <div class="ui hidden divider"></div>
              <p class="group"><BR/><a href="sortides" class="ui mini teal button">Ves-hi i mira-ho!</a></p>
          </div>
      </div>
  <div class="four wide column">
      <div class="thumbnail" style='padding:10px; text-align:center;'>
          <div class="image"><%= image_tag("motoristes.png", :alt => "Motoristes del Grup Mil Revolts", :class => "undefined") %></div>
          <div class="caption">
              <div class="ui hidden divider"></div>
                  <h2 class='ui header teal'>MOTORISTES</h2>
                  <p>Imatges i vídeos dels motoristes del nostre grup, en 'plena acció'' o en les parades. </p>
              </div>
              <div class="ui hidden divider"></div>
              <p class="group"><BR/><a href="users" class="ui mini teal button">Ves-hi i mira-ho!</a></p>
          </div>
      </div>
  <div class="four wide column">
      <div class="thumbnail" style='padding:10px; text-align:center;'>
          <div class="image"><%= image_tag("motos.jpg", :alt => "Motos del Grup Mil Revolts", :class => "undefined") %></div>
          <div class="caption">
              <div class="ui hidden divider"></div>
                  <h2 class='ui header teal'>MOTOS</h2>
                  <p>Imatges i vídeos de les motos, que en definitiva són les que ens porten a cada sortida. </p>
              </div>
              <div class="ui hidden divider"></div>
              <p class="group"><BR/><a href="media_motos" class="ui mini teal button">Ves-hi i mira-ho!</a></p>
          </div>
      </div>
  <div class="four wide column">
      <div class="thumbnail" style='padding:10px; text-align:center;'>
          <div class="image"><%= image_tag("altres.jpg", :alt => "Altres 'media' de les Sortides del Grup Mil Revolts", :class => "undefined") %></div>
          <div class="caption">
            <div class="ui hidden divider"></div>
              <h2 class='ui header teal'>ALTRES</h2>
              <p>Imatges i vídeos de paisatges, rutes, motoristes i altres que són de difícil catalogació.</p>
              </div>
              <div class="ui hidden divider"></div>
              <p class="group"><BR/><a href="media_altres" class="ui mini teal button">Ves-hi i mira-ho!</a></p>
          </div>
      </div>
  <div class="ui hidden divider"><BR/><BR/></div> 
</div>




