
<section class="ui container">
    <div class="mbr-section__container container mbr-section__container--middle">
        <div class="row">

            <div class="ten wide column">
              <a href='EnquestaEstiu2018'>
                <h1 style='margin-top:25px;'>Grup de Compra '<I>Mil Revolts</I>'</h1><BR/><BR/>
              </a>
            </div>
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"><p>Per a beneficiar-nos del gran nombre de motoristes del nostre grup, certes empreses, tallers, concessionaris i tendes ens ofereixen interessants i especials descomptes. Comencem amb els següents&nbsp;</p>
              <p><em>COL·LABORADORS:</em></p>
              <BR/> 
                <div><p>
                    <%= image_tag("newmundialmotos200.jpg", :alt => "New Mundial Motos", :class => "mbr-figure__img", :style => "float :left; padding-right: 15px;") %>                
            A <B>"New Mundial Motos"</B>, descomptes del 10-30% segons gamma de productes si comprem a la seva tenda de AVDA. PARAL.LEL,154 TIENDA 1 del 08015 de BARCELONA. Telèfon: 93 681 49 63</p>
            </div>
            <BR/>
            <BR/>    
            <div><p><em><b>Ben aviat segur que n'hi hauran més.</b></em></p></div>
        </div>
      </div>
    </div>
</section>

