
<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">TERMES D’ÚS</h1>
<BR/>
<h4><i>L’accés al portal del <u>Grup motorista 'Mil Revolts'</u> (ERL web: http://milrevolts.life) i a la informació en ell continguda implica l’acceptació de les condicions previstes en aquest avís.</i></h4>

<h3 class="ui header teal">USOS PROHIBITS I PERMESOS:</h3> 
<p style='text-align:justify;'>El portal del<i> Grup motorista 'Mil Revolts' </i>conté textos, documents, fotografies, dibuixos, representacions gràfiques, programes informàtics, logotips, marques, noms comercials o altres signes distintius, protegits per drets de propietat intel·lectual o industrial.</p>
<p style='text-align:justify;'>Queda prohit qualsevol modalitat d’explotació, incloent-hi tot tipus de reproducció, distribució, cessió a terceres persones, comunicació pública i transformació, amb qualsevol mena de suport i mitjà, de les obres esmentades abans, creacions i signes distintius sense autorització prèvia i expressa dels seus titulars respectius. L’incompliment d’aquesta prohibició podrà constituir infracció sancionable per la legislació vigent.</p>
<p style='text-align:justify;'>No obstant això, a càrrec seu, l’usuari podrà descarregar o fer còpia d’aquests elements exclusivament per al seu ús personal, sempre que no infringeixi cap dret de propietat intel·lectual o industrial.</p>
<h3 class="ui header teal">RESPONSABILITATS:</h3> 
<p style='text-align:justify;'>Tot i que s’ha posat la màxima cura en la preparació i publicació dels continguts d’aquest portal, <i>el Grup motorista 'Mil Revolts'</i> no assumeix cap responsabilitat legal o altra responsabilitat per qualsevol inexactitud, error, mala interpretació o qualsevol altra incidència de qualsevol naturalesa aquí continguda.
<p style='text-align:justify;'><i>El Grup motorista 'Mil Revolts'</i> renúncia formalment a la responsabilitat en relació amb aquests assumptes. La informació continguda en aquest lloc és de naturalesa condensada i d’informació general i pot canviar de tant en tant. Ningú ha de basar-se només en ella en la determinació de drets legals o altres decisions.
<p style='text-align:justify;'>S’aconsella als lectors que verifiquin, per contacte directe amb <i>el Grup motorista 'Mil Revolts'</i> qualsevol informació de la qual desitgin assegurar-se.
<p style='text-align:justify;'><i>El Grup motorista 'Mil Revolts'</i> no garanteix l’accés continuat, ni la correcta visualització, descàrrega o utilitat dels elements i informació inclosos en les pàgines d’aquest portal, que es poden veure impedits, dificultats o interromputs per factors o circumstàncies fora del seu control.
<p style='text-align:justify;'><i>El Grup motorista 'Mil Revolts'</i> no assumeix cap tipus de responsabilitat respecte de la informació i altres continguts integrats en espais o pàgines web de terceres persones accessibles des del portal del <i> Grup motorista 'Mil Revolts'</i>a partir d’hipervincles o enllaços, ni de la informació i altres continguts integrats en espais o pàgines web de terceres persones, des dels quals s’accedeixi amb hipervincles o enllaços al portal del<i> Grup motorista 'Mil Revolts'</i>, ni de la informació i continguts de qualsevol pàgina web de terceres persones que es presenti sota l’aparença o signes distintius del<i> Grup motorista 'Mil Revolts'</i>, tret autorització expressa seva.
<div><BR/><BR/></div>
    </div>
     <div class="two wide column"></div>
  </div>
</div>






