<div><BR/><BR/></div>
<div class="ui relaxed grid">
  <div class="ui row">
    <div class="ui two wide column"></div>
      <div class="ui twelve wide column segment">

<h1>Edita l'article</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

			</div>
    <div class="ui two wide column"></div>
	</div>
</div>