<div class="ui grid">
  <div class="ui row">
    <div class="ui two wide column"></div>      
    <div><BR/><BR/></div>
      <div class="ui twelve wide column segment">


<h1>Nou Article</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>


        </div><!-- ./segment -->
        <div><BR/><BR/><BR/></div>  
      </div><!-- ./twelve -->
    <div class="ui two wide column"></div>
  </div><!-- ./grid -->
</div><!-- ./row -->