<div class='ui container'>
	<div class="ui three column centered grid">
	<div class="four wide column"></div>
	<div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui huge header teal" style='font-size:30pt;'>Volta pel Montseny, la Garrotxa i el Puigsacalm.&nbsp;</h1>
<h2 class="ui header teal">Dissabte 17 de Novembre del 2018</h2>
<BR/>
<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > Sant Celoni > Sant Hilari de Sacalm > Amer > Sant Esteve de Llémena > Banyoles > Olot > Vidra > Ripoll > Moià > BCN
</p>
<h3 class="ui header teal">Punt de trobada:</h3> 
<p>07:30 BCN Drassanes/Av Josep Carner (Edifici duanes) façana Sud.
<BR/>08:00 Montgat. Plaça de l¡Ajuntament
<BR/>09:00 BP Cardedeu. Sortim tots amb el dipòsit ple. 
</p>
<h3 class="ui header teal">Parades previstes i temps aprox.:</h3>
<p>11:00 Amer (esmorzar)
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring'.
<BR/>Per ordre fins assolir un màxim de 9 (nou) motos. 
<BR/>Si us plau confirmar (per 'guasap/whatapp' o correu) abans de dissabte.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.
<BR/>No hi han trams de terra. Hi han trams de camins asfalts.
</p>
<p><BR/></p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

<div><%= image_tag("rutes/Garrotxa.jpg", :alt => "Volta al Montseny, a la Garrotxa i al Puigsacalm 2018/11/17", :class => "mbr-figure__img") %></div>
</figure>
<BR/>
<h3 class="ui header blue">Més detalls pròximament per WhatsApp als participants!</h3>

<div><BR/><BR/></div>

</div>
<div class="four wide column"></div>
</div>
</div>
