<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="two wide column"></div>
    <div class="ten wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta als Parcs Naturals del Sud. &nbsp;</h1>
<h2 class="ui header teal">Dissabte 15 i diumenge 16 de Desembre del 2018</h2>
<BR/>


<h3><i>"Volta als Parcs Naturals del Sud de Catalunya: Montsant,  Delta, Benifassà i Els Ports".</i></h3>


<h3 class="ui centered aligned header red"><i>Segona edició en sentit invers! 
	<BR/>Per cansar-se de revolts!</i></h3>

<h3 class="ui header teal">Ruta dissabte 400km:</h3> 
<p>BCN – Gavà - Avinyonet - Vila-rodona - Alcover - Capafonts - Porrera - Duesaigües - Pratdip - Delta - Ulldecona - Vallibona - Morella</p> 
</p>
<h3 class="ui header teal">Ruta diumenge 400km:</h3> 
<p>Morella - Penya-roja de Tastavins - Vall-de-roures - Horta - Bot - Prat del Comte - Miravet - Mora - Masroig - Gratallops - La Figuera - 'Les Vilelles' - Prades - Sarral - La Llacuna - Vila - BCN
</p>
<h3 class="ui header teal">Punts de trobada:</h3> 
<p>8:00 BCN Montjuïc (Avinguda de l'estadi 42)
<BR/>8:30 Gavà (E.S. bonÀrea C/Bertran Güell, 17)
<BR/>9:00 Avinyonet (Església, NII-BV2411)  
</p>
<h3 class="ui header teal">Parades previstes i temps aprox. dissabte:</h3>
<p>9:30 Benzinera Petrocat - Restaurant Miralles (Sta.Maria de Miralles) (esmorzar)   
<BR/>11:00 Capafonts
<BR/>14:30 Pratdip
<BR/>17:00 Delta
<BR/>20:00 Morella 
</p>
<h3 class="ui header teal">Parades previstes i temps aprox. diumenge:</h3>
<p>9:30 Morella (sortida tots esmorzats)   
<BR/>11:00 Miravet 
<BR/>14:00 La Vilella Baixa (dinar)
<BR/>17:00 Capafons
<BR/>20:30 BCN 
</p>
<h3 class="ui header teal">Inscripcions:</h3> 
<p>Gratuïta i oberta a totes les motos que puguin seguir un ritme normal 'touring' tot un dia.
<BR/>Per ordre d'inscripció fins assolir un màxim de 9 (nou) motos. 
<BR/>El cost de dormir i esmorzar al hotel de Morella és de 69€.
<BR/>Si us plau confirmar el més aviat possible per a reservar l'hotel, enviant un 'whatsapp'.
</p> 
<h3 class="ui header teal">Observacions:</h3>
<p>Depenent d’eventualitats i d’altres condicionants la ruta i les parades poden ser variades segons les circumstàncies i cercant el consens dels participants.</p>
<p><BR/></p>

                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("rutes/20181215_Sud.jpg", :alt => "Sortida al Sud 15-16/12/2018", :class => "mbr-figure__img") %></div>
                </figure>
<BR/>
<% if user_signed_in? %>
<BR/>
<h2 class="ui header teal">Antecedents:</h2>
<blockquote>
<p class='pagraf' style='text-align: justify;'>
Donat l'éxit de l'anterior sortida, repetim aquesta sortida però en sentit invers. Coneixent millor els temps i el recorreguts, planejem parar per esmorzar i dinar.
</p></blockquote>
<BR/>
</p>
<% else %>
<h3 class="ui header blue"><i>Per a llegir més detalls, cal identificar-se.</i></h3>
<BR/>
<%= link_to 'Registre', new_user_registration_path, :class=>'ui button teal' %><%= link_to 'Entrada', new_user_session_path, :class=>'ui button teal' %>
<% end %>
<div><BR/><BR/></div>

  </div>
</div>
</div>
