<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta al Lluçanès - Riera de Merlès.</h1>
<h2 class="ui header teal">Dimecres 20 Juny 2018</h2>
<BR/>

<h4><i>30/06/2018 Volta al Lluçanès - Riera de Merlès, 310kms.</i></h4>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN - Cerdanyola - St.Llorenç Savall - Calders - Moià - Prats Lluçanès - Alpens - Navàs (Benzina) - Calders - Terrassa - BCN

<h3 class="ui header teal">Punts de trobada i horari:</h3>
<BR/>8:20 Horta (Ctra. Horta-Cerdanyola 50)
<BR/>9:00 Castellar Vallès (Benzinera BP - Estació Servei Truyols) Tots amb el dipòsit ple.
<BR/>
<h3 class="ui header teal">Parades previstes i temps aprox.: </h3>
<BR/>11:30 Esmorzar al Collet (St.Agustí del Lluçanès)
<BR/>16:00 Arribada a BCN 
<BR/>
<h3 class="ui header teal">Observacions:</h3> 
<p>No hi han pistes de terra. Hi ha un tram de camí asfaltat Vidrà-Les Presses.</p>

                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("20180620VoltaLlucanes.jpg", :alt => "Ruta", :class => "mbr-figure__img") %></div>
                </figure>
<h3 class="ui header teal">Crònica:</h3>
<p>Ahir 6 motos Pau ADVENTURE1290, Dani R1, Josep XADV, Francesc FZ600, JM FZ600 i Ferram GSR600.  vàrem fer 310kms creuant el Parc Natural de Sant Llorenç de Munts, el Lluçanès i baixar tota la riera de Merlès per tornar per (Talamanca/Mura)-Matadepera.
</p>
<figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">
<div><%= image_tag("2018-06-20VoltaLlucanes.jpeg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
</figure>
<p>Esmorzant 'canalons arrebossats de col' a l'hostal del Collet de Sant Agustí del Lluçanès ****. JM, Francesc, Ferran, Josep, Pau i Dani.</p>
<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>