<div class='ui container'>
    <div class="ui three column centered grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
<div><BR/><BR/></div>

<h1 class="ui header teal">Volta a Santes Creus - Querol</h1>
<h2 class="ui header teal">Dimecres 25 de Juliol del 2018</h2>
<BR/>

<h4><i>25/07/2018 Sortida Santes Creus – Querol. 225kms</i></h4>

<h3 class="ui header teal">Ruta:</h3> 
<p>BCN > (Vallvidrera, 08:30 Mirador del Turó d’en Corts) > Molins de Rei > Begues > Olivella > Vilafranca > Plà Manlleu > Santes Creus > Querol > La Llacuna > St.Joan Mediona > St.Sadurní Anoia > Corbera > Molins > BCN 
<h3 class="ui header teal">Punts de trobada i horari:</h3>
<BR/>8:30 BCN Ctra. Vallvidrera-Molins al Mirador del Turo d’en Corts sortint de les darreres cases de Vallvidrera.
<BR/>Arribada cap a les 14:30 a BCN
<h3 class="ui header teal">Observacions:</h3> 
<p>Hi ha alguna pista i camí asfaltat.</p>
               <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom">

                    <div><%= image_tag("Vallvidrera Turo d'en Cort.jpg", :alt => "Punt de Trobada", :class => "mbr-figure__img") %></div>
                </figure>
<h3 class="ui header teal">Crònica:</h3>
<p>Ahir 2 motos, @Josep XADV i @Ferran GSR600, 225kms, començant per les pistes del Parc Natural del Garraf, Humides i sense pols) des de Torrelles del llobregat fins a Olivella, vàrem arribar al Penedès que el creuem transversalment, per arribar a La Llacuna i girar cap a Querol. 
<br/>Esmorzar calent 'bo' al Bar ESPORT **** de Santes Creus. 
<br/>Tornada ràpida per La Llacuna a Sant Sadurní d'Anoià, pujar a Corbera i acabar a Vallvidrera.       
</p>
<div><BR/><BR/></div>
    </div>
     <div class="four wide column"></div>
  </div>
</div>



